@import url(estilo.css);

@media screen and (max-width: 1020px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 300px;
        align-items: center;
        position: sticky;
        box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
        position: relative;
    }
    #iconomenu {
       display: block;
       color: #af458f;
       font-size: 38px;
       padding: 5px;
       text-align: center;
    }
    .logofemora {
        width: 200px;
    }
    nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 0px 10px;
        background-color: white;
        top: 95%;
        left: -110%;
        width: 100%;
        position: absolute;
        z-index: 2;
        transition: all 0.5s;
        margin-top: 5px;
    }
    .abrirmenu {
        left: 0px;
    }
    nav ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
     width: 100%;
    }
    nav ul li {
        border-bottom: 1px var(--rosafemora) solid;
        width: 100%;
        padding-left: 20px;
      }
      nav ul li a {
        display: block;
      }
      .bienvenidos article {
        text-align: center;
      }
      .bienvenidos figure {
        display: none;
      }
      .marcas figure {
        width: 180px;
    }
    .ubicacionsalon {
        padding: 9px;
      }
}
/* IPAD */
@media screen and (max-width: 980px) {
    .escogenos {
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }
    .marcas figure {
        width: 180px;
    }
}
/* IPHONE */
@media screen and (max-width: 480px) {
    header {
        gap: 90px;
    }
    .bienvenidos article {
        text-align: center;
      }
    .bienvenidos article h2 {
        font-size: 50px;
      }
      .escogenos p {
        padding: 10px;
      }
    .marcas {
        background: rgb(242,153,177);
        background: linear-gradient(90deg, rgba(242,153,177,1) 0%, rgba(217,160,202,1) 50%, rgba(217,190,108,1) 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 220px;
    }
    .marcas figure {
        width: 180px;
    }
    .ubicacionsalon {
        flex-direction: column;
        padding: 10px;
    }
    .ubicacionsalon article {
        text-align: center;
    }
}